

@media only screen and (max-width: 992px){

	
	/*.banner_img{
		height: 457px;
       	width: 446px;
    }*/

	.navbar ul li a{
		margin-left: 0;
	}

}

@media only screen and (max-width: 910px){
	
}

@media only screen and (max-width: 892px){
	
	.sl_wrap{
		flex-wrap: wrap;
	}

	
	.menu{
		display: block;
		position: relative;
	}

	.navbar{
		width: 50%;
		position: absolute;
		display: none;
		background-color: rgba(0,0,0,0.8);
	
	}

	.navbar ul{
		display: block;
		
	}

	.navbar ul li {

		text-align: center;
		display: block;
	}

	.navbar ul li  a{
		display: block;
	}

	#toggle:checked + .navbar{
		display: block;
		position: absolute;
		right: 0;
		top: 96px;
		overflow: auto;
 		
 	}

	.banner_left h2{
		font-size: 35px;
		line-height: 40px;
	}
	.testimonial_box{
		width: 40%;
	}	


}

@media only screen and (max-width: 874px){
	
}

@media only screen and (max-width: 687px){
	.sm_wrap{
		flex-wrap: wrap;
	}
	.banner_left{
		width: 100%;
		margin-right: 0;

	}
	.banner_right{
		text-align: center;
		width: 100%;
	}
	
	.about1_img{
		width: 100%;
		text-align: center;
	}
	.preface_box2{
		padding: 0 15px;
		width: 100%;
	}
	.about_box{
		width: 50%;	
	}
	.about2_col{
		display: none;
	}
	.wsm-50{
		width: 50%;
	}
	.feature_box_left{
		width: 100%;
	}
	.feature_box_right{
		width: 100%;
	}
	.blog_box{
		width: 50%;
	}
	.sm_row{
		display: flex;
	}
	.wsm-100{
		width: 100%;
	}
	.contact_left_box{
		width: 33%;
	}
}

@media only screen and (max-width: 600px){
	
	.msm_wrap{
		flex-wrap: wrap;
	}
	.signup_window{
		padding: 220px 0 200px;
	}
	.about_box{
		width: 70%;	
	}
	.testimonial_box{
		width: 80%;
	}
}

@media only screen and (max-width: 480px){
	.xsm_wrap{
		flex-wrap: wrap;
	}
	
	.banner_left{
		padding-top: 30px;
	}
	
	.wxsm-100{
		width: 100%;
	}
	.about_box{
		width: 100%;	
	}
	.blog_box{
		width: 100%;
	}
	.testimonial_box{
		width: 80%;
	}
	.contact_left_box{
		width: 60%
	}
	.contact_left_box_last{
		width: 60%
	}
	
}
@media only screen and (max-width: 420px){
	.single_feature h4{
		font-size: 17px;
	}	
	.single_feature p{
		font-size: 13px;
	}
	.contact_left_box{
		width: 80%;
	}
	.contact_left_box_last{
		width: 80%;
	}
	.android_btn a{
		font-size: 14px;
	}
}
@media only screen and (max-width: 320px){
	
}